.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 3rem;

  .content{
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 0.8rem;
  }

  .contentList {
    width: 95%;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    margin-top: 1.5rem;

    .contentItem {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1rem;
    }
  }
}