.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 2rem;

  .message {
    margin-top: 2rem;
    font-size: 1rem;
    font-weight: lighter;
    text-decoration-line: underline;
    text-decoration-color: #393d46c2;
    text-decoration-thickness: 2px;
    text-underline-offset: 4px;
  }

  .containerFish {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 0.8rem;
  }

  .contentList {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin-top: 1.5rem;

    .contentItem {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 0.8rem;
    }
  }
}
