.container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  border: 2px solid #213561;
  border-radius: 10px;

  .contentItem{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;

    h3{
      text-align: center;
    }
  }
}
